/* CoverStyle.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --mainColor: #0C356A;
    --mainColorLight: #4B72A4;
    --secondaryColor: #FFC436;
    --textColor: #000;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 80px); /* Tinggi dinamis dengan penyesuaian navbar */
    padding: 20px;
    margin-top: 80px; /* Adjust margin-top to consider the navbar height */
    font-size: 23px;
    text-align: center;
}

.kolom {
    flex: 1;
    padding: 20px;
    text-align: left;
    margin-left: 1rem;
}

.icon-header {
    width: 23rem;
    height: auto;
    margin-right: 6rem;
}

.deskripsi {
    font-size: 1.2em;
    color: var(--mainColor);
    margin-bottom: 10px;
}

h2 {
    font-size: 3em;
    color: var(--mainColor);
    margin-bottom: 15px;
}

p {
    color: var(--mainColor);
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        height: auto;
        margin-top: 80px; /* Consider the navbar height */
    }

    .icon-header {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .kolom {
        text-align: center;
        margin-left: 0;
    }

    h2 {
        font-size: 2.5em;
    }

    .deskripsi {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 20px;
    }

    .icon-header {
        width: 80%;
    }

    .kolom {
        text-align: center;
    }

    h2 {
        font-size: 2em;
    }

    .deskripsi {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        padding: 20px;
    }

    .icon-header {
        width: 100%;
    }

    .kolom {
        text-align: center;
    }

    h2 {
        font-size: 1.8em;
    }

    .deskripsi {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }
}
