* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --mainColor: #0c356a;
    --mainColorLight: #4b72a4;
    --secondaryColor: #ffc436;
    --textColor: #000;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Original padding for desktop */
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 3px solid var(--mainColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 140px; /* Original width for desktop */
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 20px; /* Original margin for desktop */
}

.nav-items a {
    color: var(--mainColor);
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.5rem; /* Original margin for desktop */
    transition: color 0.3s ease;
    font-size: 1rem; /* Original font size for desktop */
}

.nav-items a:hover {
    color: var(--secondaryColor);
}

.nav-btn {
    display: none;
    background: transparent;
    border: none;
    outline: none;
    color: var(--mainColor);
    cursor: pointer;
    font-size: 1.5rem; /* Original font size for desktop */
    z-index: 1001; /* Ensure the button is above the nav menu */
}

@media only screen and (max-width: 1024px) {
    header {
        padding: 10px; /* Reduced padding for mobile */
    }

    .icon {
        width: 100px; /* Reduced width for mobile */
    }

    .nav-btn {
        display: block;
        font-size: 1.2rem; /* Reduced font size for mobile */
    }

    .nav-items {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--secondaryColor);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }

    .responsive_nav .nav-items {
        display: flex;
        transform: translateX(0%);
    }

    .nav-items a {
        margin: 0.5rem; /* Reduced margin for mobile */
        color: #fff; /* Changed to white for better visibility on secondary color background */
        font-size: 0.9rem; /* Adjusted font size for mobile */
    }
}
